
.panel{
    position: relative;
    min-width: 50px;
    min-height: 50px;
    padding: 22px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 3px 0 rgba(0,0,0,.3);
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.3);
    background: #fff;
    z-index: 5;


    &.noPadding {
        padding: 0;
    }

    .panel-toogle{
        position: absolute;
        height: 16px;
        width: 32px;
        top:-0px;
        left: 50%;
        margin-top: -16px;
        margin-left: -16px;
        padding: 1px 12px;
        -webkit-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        background: #ebedee;
        font-size: 10px;
        z-index: 4;

        &::before {
            content: '^';
        }
    }

}

:root {
  --top-y: 15px;
}

.leftSideBar:after {
  content: '';
  position: absolute;
  top: var(--top-y);
  left: 0px;
  height: 15%;
  border-left: 2px solid #0080E6;

}
.leftSideBar {
  .icon-button {
    min-width: 0px !important;
  }

}
