body {
  width: 100vw !important;
  height: 100vh !important;
}

div#root {
    width: 100%;
    height: 100%;
    overflow: auto !important;
}

input#cepForm_cep {
  border: 1px solid;
  padding: 10px;
}
.base-layout {
    width: 100%;
    height: 100%;
    min-height: 400px;
    min-width: 400px;
    .magalu {
        height: 5px;
        background: linear-gradient(to right,#fcd000 0,#ff8a00 17%,#ff253a 34%,#ff37a8 51%,#a400e1 67%,#0086ff 83%,#00d604 100%);
    }
    header.header {
        width: 100%;
        min-height: 22vh;
        background-color: #9B9ECE;

    }
    main.ant-layout-content {
      background-color: #9B9ECE;

    }
    footer {
        z-index: 1000;
        height: 5px;
        background: linear-gradient(to right,#fcd000 0,#ff8a00 17%,#ff253a 34%,#ff37a8 51%,#a400e1 67%,#0086ff 83%,#00d604 100%);
        padding: 0px;
    }

}

@media screen and (min-height: 480px) {
  .panel.searchCepPanel {
    min-height: 68vh !important;
    overflow: hidden !important;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

  }

  @media (min-height: 754px) {
    .base-layout header.header {
      min-height: 10vh !important;
      max-height: 300px !important;
    }
  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (min-height: 754px) {

  header .panel {
    height: 20vh;

  }
  .gmaps {
   height: 51vh;
 } }
@media (min-width: 1200px) and (min-height: 900px) {

  body {
    height: 100% !important;
    width: 100% !important;
  }
  header .panel {
    height: 16vh;
  }
  .gmaps {
   height: 55vh;
 }

}
@media (min-width: 500px) and (min-height: 500px) {
  header .panel {
    height: 26vh;
    max-height: 160px;
  }
}
@media (max-height: 664px) {

  .gmaps {
    position: initial;
  }

}

@media (min-height: 664px) {

  .gmaps {
    height: calc(100vh - 391px);
  }

}
.panel {
  width: calc(100vw - 90px);
}
.panel.searchCepPanel {
  min-height: calc(100vh - 300px);
  overflow: auto;
}

